<div id="mermeladaInfo" *ngIf="producto">
  <h1 style="margin:10px 0px 20px 20px ;">{{producto.nombre | uppercase}} 
    <small *ngIf="!producto.precio_oferta">{{producto.precio | currency:'EUR'}}</small>
    <small *ngIf="producto.precio_oferta" class="text-muted"><s>{{producto.precio | currency:'EUR'}}</s></small>
    <span *ngIf="producto.precio_oferta" class="ml-2">{{producto.precio_oferta | currency:'EUR'}}</span>
  </h1>
  <div class="row">
    <div class="col-md-3">
      <img [src]="producto.imagen | noImage" class="img-fluid mb-md-2"/><br/>
      <b>Valoración media:</b> 
      <img src="assets/img/valoracion.png" class="img-fluid imp-pulgar col-4" style="cursor: pointer;"/>
      <br/><br/>
      <button class="btn btn-outline-dark btn-block" [routerLink]="['/mermeladas']">Volver</button>
    </div>
    <div class="col-md-5 offset-1" id="infoM">
      <h3>{{producto.nombre}}</h3>
      <hr/>
      <p>{{producto.descr}}</p>
      <div>
        <p>Días de consumición preferente: <b>{{producto.diasConsumicion}}</b> días</p>
        <ul>
          <li>{{producto.ingredientes}}</li>
        </ul>
        <div>
          <button id="anadirCestaBoton"
                class="btn btn-outline-dark" 
                (click)="cestaAniadir()"
                *ngIf="ocultar"
                style="margin-top: 20px;"
                data-toggle="modal" 
                data-target="#anadirCesta">
                Añadir a la cesta
          </button>
          <div class="modal fade" id="anadirCesta" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModal3Label">Producto añadido</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="cerrarModal">&times;</span>
                  </button>
                </div>
                <div class="anadirCarrito p-md-2">
                  <h3>{{producto.nombre}}</h3><br/>
                  <img [src]="producto.imagen | noImage" class="img-fluid p-md-3"/><br/>
                  <h4>¡Añadido a la cesta!</h4>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" [routerLink]="['/mermeladas']" data-dismiss="modal">Seguir comprando</button>
                  <button type="button" class="btn btn-outline-light" [routerLink]="['/compra', usuario.id_usuario]" data-dismiss="modal">Ir a la cesta</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <p>
    <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Ver comentarios
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body comentarios">
      <div *ngFor="let comentario of comentarios">
        <p><b>{{comentario.nombre_usuario}}</b> | {{comentario.nombre}}</p>
        <p>{{comentario.comentario}}</p>
      </div>
      <hr style="border: .5px solid wheat;"/>
      <div>
        <textarea class="form-control" rows="4" maxlength="2000" placeholder="Deja tu comentario..."></textarea>
        <b>Tu valoración:</b> <img src="assets/img/valoracion.png" class="img-fluid imp-pulgar col-md-1 col-5 mb-3 mt-3" style="cursor: pointer;"/><br/>
        <input type="button" class="btn btn-outline-light" value="Enviar comentario" />
      </div>
    </div>
  </div>
</div>
