<div class="container" style="margin-top: 20px;" id="perfil">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="assets/img/perfil2.jpg" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>Rubén Onivenis Muñoz</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nombre</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Rubén Onivenis Muñoz
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">E-mail</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      correo@inventado.com
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">teléfono</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      654 321 987
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Dirección</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Novelda del Guadiana, Badajoz, Calle inventada Nº XX
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Dirección 2ª</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Badajoz, Badajoz, Calle inventada Nº XX
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <input type="button" class="btn btn-outline-primary" name="modificar" value="Modificar datos" />
          <input style="margin-left: 20px;" type="button" class="btn btn-outline-danger" name="cerrar" value="Cerrar sesión" [routerLink]="['/iniciarSesion']"/>
        </div>
    </div>