<div class="container" style="margin-top: 20px;" id="perfil">
  <div class="main-body" >
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card perfil" >
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img [src]="'assets/img/perfil2.png' | noImage:true" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-2">
                <h4>Rubén Onivenis Muñoz</h4>
              </div>
              <a href="#" class="badge mt-1" style="color: gray; ">
                Cambiar imagen de perfil
                <img src="assets/img/modificar_icono.png" class="img-pulgar" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3 perfil">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><b>Nombre de usuario:</b></h6>
              </div>
              <div class="col-sm-9">
                Rubenom11
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><b>Nombre:</b></h6>
              </div>
              <div class="col-sm-9">
                Rubén
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><b>Apellidos:</b></h6>
              </div>
              <div class="col-sm-9">
                Onivenis Muñoz
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><b>E-mail:</b></h6>
              </div>
              <div class="col-sm-9">
                correo@inventado.com
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><b>Nº de tarjeta:</b></h6>
              </div>
              <div class="col-sm-9">
                ************7899
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><b>teléfono:</b></h6>
              </div>
              <div class="col-sm-9">
                654 321 987
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><b>Dirección:</b></h6>
              </div>
              <div class="col-sm-9">
                Novelda del Guadiana, Badajoz, Calle inventada Nº XX, 06183
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><b>Dirección 2ª:</b></h6>
              </div>
              <div class="col-sm-9">
                Badajoz, Badajoz, Calle inventada Nº XX, 06000
              </div>
            </div>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
            Modificar datos
          </button>
          <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" >
              <div class="modal-content" id="modificarDatos">
                <div class="modal-header" >
                  <h5 class="modal-title" id="exampleModalLabel">Modificar datos</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form id="modificarUsuario" autocomplete="off" (ngSubmit)="modificar()" [formGroup]="forma">
                  <div class="modal-body">
                      <div class="row">
                        <!--Email-->
                        <div class="form-group col-md-6 col-12">
                          <label for="disabledTextInput">E-mail</label>
                          <input type="email" 
                                class="form-control" 
                                placeholder="rubenom11@gmail.com"
                                formControlName="email"
                                [class.is-invalid]="!valido('email')">
                          <small class="form-text text-danger" *ngIf="!valido('email')">El e-mail no es válido</small>
                        </div>
                        <!--Nombre de usuario-->
                        <div class="form-group col-md-6 col-12">
                          <label for="inputAddress">Nombre de usuario</label>
                          <input class="form-control"
                                  type="text"
                                  placeholder="Rubenom11"
                                  formControlName="usuario"
                                  [class.is-invalid]="!valido('usuario')">
                            <small class="form-text text-danger" *ngIf="!valido('usuario')">Debe tener al menos 5 carácteres</small>
                        </div>
                        <!--Nombre-->
                        <div class="form-group col-md-6 col-12">
                          <label for="inputAddress">Nombre</label>
                          <input class="form-control"
                                type="text"
                                value="Rubén"
                                formControlName="nombre"
                                [class.is-invalid]="!valido('nombre')">
                            <small class="form-text text-danger" *ngIf="!valido('nombre')">Debe tener al menos 3 carácteres</small>
                        </div>
                        <!--Apellidos-->
                        <div class="form-group col-md-6 col-12">
                          <label for="inputAddress">Apellidos</label>
                          <input class="form-control"
                                type="text"
                                placeholder="Onivenis Muñoz"
                                formControlName="apellido"
                                [class.is-invalid]="!valido('apellido')">
                            <small class="form-text text-danger" *ngIf="!valido('apellido')">Debe tener al menos 5 carácteres</small>
                        </div>
                        <!--Contraseñas-->
                        <div class="form-group col-md-6 col-12">
                          <label for="disabledSelect">Contraseña nueva</label>
                          <input type="password" 
                                  class="form-control" 
                                  placeholder="Contraseña"
                                  formControlName="pass1">
                          <small class="form-text text-danger" *ngIf="!valido('pass1')">Debe tener más de 5 carácteres</small>
                        </div>
                        <div class="form-group col-md-6 col-12">
                          <label for="disabledSelect">Repetir contraseña nueva</label>
                          <input type="password" 
                                class="form-control" 
                                placeholder="Contraseña"
                                formControlName="pass2"
                                [class.is-invalid]="!valido('pass2')">
                          <small class="form-text text-danger" *ngIf="!pass2Valido">Las contraseñas deben ser iguales</small>
                        </div>
                      </div>
                      <!--Direcciones-->
                      <div class="row" formGroupName="vivienda">
                        <div class="form-group col-md-6 col-12">
                          <label for="inputAddress">Dirección</label>
                          <input type="text" 
                                  class="form-control" 
                                  placeholder="Calle inventada, Nº XX">
                        </div>
                        <!--Ciudad-->
                        <div class="form-group col-md-6 col-12">
                          <label for="inputCity">Ciudad</label>
                          <input type="text" 
                                  class="form-control" 
                                  id="inputCity" 
                                  placeholder="Novelda del guadiana">
                        </div>
                        <!--Localidad-->
                        <div class="form-group col-md-6 col-12">
                          <label for="inputState">Localidad</label>
                          <select id="inputState" 
                                  class="form-control"
                                  name="localidad">
                            <option *ngFor="let localidad of localidades.facet_groups[1].facets; let i = index" value="{{i}}" [disabled] = 'i==0'>{{localidad.name}}</option>
                          </select>
                        </div>
                        <!--Código postal-->
                        <div class="form-group col-md-6 col-12">
                          <label for="inputZip">Código postal</label>
                          <input type="text" 
                                  class="form-control"  
                                  placeholder="06183"
                                  formControlName="cod_postal"
                                  [class.is-invalid]="!valido('vivienda.cod_postal')">
                          <small class="form-text text-danger" *ngIf="!valido('vivienda.cod_postal')">El código postal no es válido</small>
                        </div>
                        <!--Dirección 2º-->
                        <div class="form-group col-md-6 col-12">
                          <label for="inputAddress2">Dirección 2º</label>
                          <input type="text" 
                                  class="form-control" 
                                  id="inputAddress2" 
                                  placeholder="Calle inventada, Nº XX">
                        </div>
                        <!--Ciudad 2º-->
                        <div class="form-group col-md-6 col-12">
                          <label for="inputCity">Ciudad 2º</label>
                          <input type="text" 
                                  class="form-control" 
                                  id="inputCity" 
                                  placeholder="Badajoz">
                        </div>
                        <!--Localidad 2º-->
                        <div class="form-group col-md-6 col-12">
                          <label for="inputState">Localidad 2º</label>
                          <select id="inputState" 
                                  class="form-control"
                                  name="localidad2">
                            <option *ngFor="let localidad2 of localidades.facet_groups[1].facets; let i = index" value="{{i}}" [disabled] = 'i==0'>{{localidad2.name}}</option>
                          </select>
                        </div>
                        <!--Código postal 2º-->
                        <div class="form-group col-md-6 col-12">
                          <label for="inputZip">Código postal 2º</label>
                          <input type="text" 
                                  class="form-control"  
                                  placeholder="06000"
                                  formControlName="cod_postal2"
                                  [class.is-invalid]="!valido('vivienda.cod_postal2')">
                          <small class="form-text text-danger" *ngIf="!valido('vivienda.cod_postal2')">El código postal no es válido</small>
                        </div>
                      </div>
                      <div class="row">
                        <!--Teléfono-->
                        <div class="form-group col-md-6 col-12">
                          <label for="inputAddress2">Teléfono</label>
                          <input type="text" 
                                  class="form-control" 
                                  formControlName="telefono"
                                  placeholder="654 321 987"
                                  [class.is-invalid]="!valido('telefono')">
                          <small class="form-text text-danger" *ngIf="!valido('telefono')">El teléfono no es válido</small>
                        </div>
                        <!--Tarjeta de crédito-->
                        <div class="form-group col-md-6 col-12">
                          <label for="inputZip">Tarjeta de crédito</label>
                          <input type="text" 
                                  class="form-control" 
                                  placeholder="Tarjeta de crédito"
                                  formControlName="tarjeta"
                                  [class.is-invalid]="!valido('tarjeta')">
                          <small class="form-text text-danger" *ngIf="!valido('tarjeta')">La tarjeta de credito no es válida</small>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-primary" name="modificar" value="Guardar cambios" />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <input style="margin-left: 20px;" type="button" class="btn btn-outline-danger" name="cerrar" value="Cerrar sesión" [routerLink]="['/iniciarSesion']"/>
        </div>
      </div>
    </div>
  </div>
</div>