<div class="card bg-light mb-3"  >
    <div style="background-color: #FFD966;">
        <img class="card-img-top" src="{{mermelada.imagen}}" alt="{{mermelada.nombre}}">
        <div class="card-body">
            <h5 class="card-title">{{mermelada.nombre}}</h5>
            <p class="card-text">{{mermelada.descr | slice:0:this.NUM_CARACTERES}}{{puntos_suspensivos()}}</p>
            <p class="card-text"><small class="text-muted"><b>{{mermelada.precio | currency:'EUR'}}</b></small></p>
        </div>
    </div>
    <button class="btn-outline-success btn-block" (click)="verMermelada()" >Información</button>
</div>
