<h2 class="mt-2">Cesta</h2>
<hr />
<div class="d-flex flex-column ">
    <div class="col-md-8">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img-top" src="assets/img/fresa2.png" >
                </div>
                <div class="col-md-6 ">
                    <h3>Fresa</h3>
                    <input type="checkbox" class="mr-2 mb-3">Es un regalo<br/>
                    <div class="form-outline row">
                        <input type="number" min="1"  placeholder="Cantidad" class="form-control col-4" />
                        <input type="submit" class="btn btn-link" value="Eliminar" />
                    </div>
                    2,80€
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0"><b>Nombre:</b></h6>
                </div>
                <div class="col-sm-9">
                    Rubén
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0"><b>Apellidos:</b></h6>
                </div>
            </div>
            <div class="col-sm-9">
                Onivenis Muñoz
            </div>
        </div>
    </div>
</div>
