<h2 class="mt-3 ml-4">Cesta</h2>
<hr />
<div class="row ml-5">
    <div class="col-md-7" style="background-color: #ffd96654; border-radius: 5%;">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img-top" src="assets/img/fresa2.png" >
                </div>
                <div class="col-md-6 mb-4">
                    <h3>Fresa</h3>
                    <input type="checkbox" class="mr-2 mb-4">Es un regalo<br/>
                    <div class="form-outline row mb-4 ">
                        <input type="number" min="1"  placeholder="Cantidad" class="form-control col-4" />
                        <input type="submit" class="btn btn-link" value="Eliminar" />
                    </div>
                    <h4>2,80€</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img-top" src="assets/img/melocoton.png" >
                </div>
                <div class="col-md-6 mb-4">
                    <h3>Melocotón</h3>
                    <input type="checkbox" class="mr-2 mb-4">Es un regalo<br/>
                    <div class="form-outline row mb-4 ">
                        <input type="number" min="1"  placeholder="Cantidad" class="form-control col-4" />
                        <input type="submit" class="btn btn-link" value="Eliminar" />
                    </div>
                    <h4>1,80€</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 offset-9">
                    <h3 class="mb-0" style="float: right;">Subtotal: 4,60€</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-3 p-5 offset-1" style="background-color: #ffd96654; border-radius: 5%; height: 220px; width: 25px;">
        <h4>Subtotal (2 productos) + IVA: <b>5,06€</b></h4><br/>    <!--El iva es el 10% del subtotal-->
        <button type="button" class="btn btn-warning">Tramitar pedido</button>
    </div>
</div>
