<div id="quienes">
    <h3>¿Quiénes somos?</h3>
    <div class="row">
        <p class="col-md-6 col-12">
            En la vida conocí mujer igual a la flaca Coral negro de la Habana Tremendísima mulata Cien libras de piel y hueso
            Cuarenta kilos de salsa Y en la cara dos soles Que sin palabras hablan Que sin palabras hablan La flaca duerme de día
            Dice que así el hambre engaña Cuando cae la noche Baja a bailar a la Tasca Y bailar y bailar Y tomar y tomar
            Una cerveza tras otra Pero ella nunca engorda Pero ella nunca engorda Por un beso de la flaca Daría lo que fuera.<br/><br/>
            Por un beso de ella Aunque sólo uno fuera. Por un beso de la flaca Daría lo que fuera Por un beso de ella
            Aunque sólo uno fuera. <br/><br/>Mojé mis sábanas blancas Como dice la canción Recordando las caricias Que me brindó el primer día.<br/>
            Y enloquezco de ganas de Dormir a su ladito ¡Porque Dios que esta flaca a Mí me tiene loquito! A mí me tiene loquito.
            Por un beso de la flaca Yo daría lo que fuera Por un beso de ella Aunque sólo uno fuera.<br/><br/>
            Por un beso de la flaca Yo daría lo que fuera Por un beso de ella Aunque sólo uno fuera.
        </p>
        <div class="col-md-4 offset-md-1"><img src="assets/img/mermelada-home.jpg" class="img-fluid"/></div>
    </div>
    <hr />
    <h3>Elaboración de mermelada casera</h3>
    <div class="embed-responsive embed-responsive-16by9 col-md-6 col-12 offset-md-3" style="margin-top:20px;">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/QsSfsGiTZDs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>