<div id="quienes">
    <h3>¿Quiénes somos?</h3>
    <div class="row">
        <p class="col-md-6 col-12">
            Somos una empresa que elabora mermelada casera, que fabricamos al estilo tradicional; 
            es una mermelada artesanal fabricada con productos de temporada de calidad superior seleccionados en origen<br/><br/>
            Renunciamos a  producir cantidad para centrarnos en obtener la mejor calidad, que solo es posible si hacemos la mermelada en el momento 
            justo de recolección de cada ingrediente: las fresas, los melocotones, los pimientos… cada uno recogido en plena temporada, 
            y tratado de manera inmediata.<br/><br/>
            Vendemos a minoristas y supermercados, pero hacemos lotes especiales para celebraciones:
            es un detalle ideal y original para bodas, bautizos y comuniones.<br/><br/>
            Somos una empresa que elabora mermelada casera, que fabricamos al estilo tradicional; 
            es una mermelada artesanal fabricada con productos de temporada de calidad superior seleccionados en origen<br/><br/>
        </p>
        <div class="col-md-4 offset-md-1"><img src="assets/img/mermelada-home.jpg" class="img-fluid"/></div>
    </div>
    <hr />
    <h3>Elaboración de mermelada casera</h3>
    <div class="embed-responsive embed-responsive-16by9 col-md-6 col-12 offset-md-3" style="margin-top:20px;">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/QsSfsGiTZDs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>