<div class="alert alert-warning grdp" role="alert" [hidden]="!visible">
    <p>
        <b>GDPR (General Data Protection Regulation - Reglamento General de Protección de Datos)</b><br/>
        Utilizamos cookies propias y de terceros para mejorar nuestros servicios.<br/>
        Puede obternes más información en nuestra <a href="">Política de cookies.</a><br/>
        Pulse el botón ACEPTAR para confirmar que ha leído y aceptado la información proporcionada.
    </p>
    <button type="button" class="btn btn-primary bcgrdp" (click)="onGRDP()">ACEPTAR</button>
</div>
