<div class="row" >
    <div class="col-md-12 col-12" >
        <div class="card-body ">
            <div class="row" *ngFor="let detalleProducto of detallesProductos">
                <div class="col-md-3 col-12">
                    <img class="card-img-top mt-2 mb-2" [src]="detalleProducto.imagen" >
                </div>
                <div class="row col-md-9 col-12">
                    <div class="col-md-6">
                        <h4>{{detalleProducto.nombre}}</h4>
                        <b>Fecha del pedido</b>:<br/> {{detalleProducto.fch_pedido}}
                    </div>
                    <div class="col-md-6 mt-md-4">
                        <b>Subtotal del producto(s)</b>: {{detalleProducto.precio_producto | currency:'EUR'}}<br/>
                        <b>Cantidad</b> {{detalleProducto.cantidad}}<br/>
                        <b>IVA</b>: 10%<br/>
                        <b>Importe total</b>: {{detalleProducto.precio_encargo | currency:'EUR'}}
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
