<div class="d-flex flex-column align-items-center row">
    <form id="devolucion" autocomplete="off" (ngSubmit)="enviar()" [formGroup]="forma" class="p-md-3">
      <div class="row col-12">
            <div class="form-group col-md-6 col-12">
                <label for="disabledSelect">Motivo de la devolución*</label>
                <select class="form-control"
                        formControlName="motivo"
                        [class.is-invalid]="!valido('motivo')">
                    <option disabled value="" selected hidden>Selecciona un motivo</option>
                    <option value="Defectuoso">Defectuoso</option>
                    <option>Abierto con anterioridad</option>
                    <option>Embase deteriorado</option>
                    <option>Caducado</option>
                    <option>Producto diferente al pedido</option>
                    <option>Otro</option>
                </select>
                <small class="form-text avisoError" *ngIf="!valido('motivo')">Debes seleccionar uno de los motivos</small>
            </div>
            <div class="form-group col-md-6 col-12">
                <label for="disabledSelect">Comentario</label>
                <textarea class="form-control" rows="4" maxlength="2000" placeholder="Deja tu comentario..."></textarea>
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-outline-light" name="enviar" value="Enviar" />
            <a href="http://localhost:4200/#/perfil/1"><input type="button" class="btn btn-outline-dark ml-3" name="atras" value="Atrás" /></a>
        </div>
    </form>
</div>
        