<form id="crearUsuario" autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">
    <div class="form-row">

      <!--Email-->

      <div class="form-group col-md-6">
        <label for="inputEmail4">E-mail*</label>
        <input type="text" 
               name="correo"
               id="disabledTextInput" 
               class="form-control" 
               placeholder="E-mail"
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
               ngModel
               [class.invalid]="correo.invalid && correo.touched"
               #correo="ngModel"
               required
               >
        <small class="form-text text-danger" *ngIf="correo.invalid && correo.touched">Debe estar rellenado y escrito correctamente</small>
      </div>

      <!--Contraseña-->

      <div class="form-group col-md-3">
        <label for="inputPassword4">Contraseña*</label>
        <input type="password" 
               name="contrasenia"
               id="disabledTextInput" 
               class="form-control" 
               placeholder="Contraseña"
               ngModel
               [class.invalid]="contrasenia.invalid && contrasenia.touched"
               #contrasenia="ngModel"
               required
               >
        <small class="form-text text-danger" *ngIf="contrasenia.invalid && contrasenia.touched">Debe estar rellenado y escrito correctamente</small>
      </div>
      <div class="form-group col-md-3">
        <label for="inputPassword4">Repetir contraseña*</label>
        <input type="password" 
               name="contrasenia"
               id="disabledTextInput" 
               class="form-control" 
               placeholder="Contraseña"
               ngModel
               [class.invalid]="contrasenia.invalid && contrasenia.touched"
               #contrasenia="ngModel"
               required
              >
        <small class="form-text text-danger" *ngIf="contrasenia.invalid && contrasenia.touched">Debe estar rellenado y escrito correctamente</small>
      </div>
    </div>

    <!--Nombre-->

    <div class="form-group">
      <label for="inputAddress">Nombre*</label>
      <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               minlength="5"
               ngModel
               [class.is-invalid]="nombre.invalid && nombre.touched"
               #nombre="ngModel"
               required>
        <small class="form-text text-danger" *ngIf="nombre.invalid && nombre.touched">Debe tener al menos 5 carácteres</small>
    </div>

    <!--Apellido-->

    <div class="form-group">
      <label for="inputAddress">Apellido*</label>
      <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               minlength="5"
               ngModel
               [class.is-invalid]="apellido.invalid && apellido.touched"
               #apellido="ngModel"
               required>
        <small class="form-text text-danger" *ngIf="apellido.invalid && apellido.touched">Debe tener al menos 5 carácteres</small>
    </div>

    <!--Género-->

    <div class="form-group row">
      <label class="col-1 col-form-label">Género:</label>
      <div class="col-8">
        <div class="form-check form-check-inline">
          <input class="form-check-input"
                  type="radio"
                  name="genero"
                  value="M"
                  required
                  ngModel
                  #genero="ngModel" />
          <label class="form-check-label">Masculino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input"
                  type="radio"
                  name="genero"
                  value="F"
                  required
                  ngModel
                  #genero="ngModel" />
          <label class="form-check-label">Femenino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input"
                  type="radio"
                  name="genero"
                  value="O"
                  required
                  ngModel
                  #genero="ngModel" />
          <label class="form-check-label">Otro</label>
        </div>
        <small *ngIf="genero.invalid && genero.touched" class="form-text text-danger">
          Se debe seleccionar un género
        </small>
      </div>
    </div>

    <!--Nombre de usuario-->

    <div class="form-group">
      <label for="inputAddress">Nombre de usuario*</label>
      <input class="form-control"
               type="text"
               placeholder="Nombre de usuario"
               name="nombre_usuario"
               minlength="5"
               ngModel
               [class.is-invalid]="nombre_usuario.invalid && nombre_usuario.touched"
               #nombre_usuario="ngModel"
               required>
        <small class="form-text text-danger" *ngIf="nombre_usuario.invalid && nombre_usuario.touched">Debe tener al menos 5 carácteres</small>
    </div>

    <!--Direcciones-->

    <div class="form-group">
      <label for="inputAddress">Dirección*</label>
      <input type="text" 
             class="form-control" 
             id="inputAddress" 
             name="direccion"
             ngModel
             placeholder="Calle inventada, Nº XX"
             [class.is-invalid]="direccion.invalid && direccion.touched"
             #direccion="ngModel"
             required>
             <small class="form-text text-danger" *ngIf="nombre_usuario.invalid && nombre_usuario.touched">Debe rellenarese correctamente el campo</small>
    </div>

    <div class="form-group">
      <label for="inputAddress2">Dirección 2</label>
      <input type="text" 
             class="form-control" 
             id="inputAddress2" 
             placeholder="Calle inventada, Nº XX">
    </div>

    <!--Teléfono-->

    <div class="form-group">
      <label for="inputAddress2">Teléfono*</label>
      <input type="text" 
             class="form-control" 
             id="inputAddress2" 
             placeholder="Número del telefono"
             pattern="[0-9]{9}"
             name="telefono"
             ngModel
             [class.invalid]="telefono.invalid && telefono.touched"
             #telefono="ngModel"
             minlength="9"
             required
             >
      <small class="form-text text-danger" *ngIf="telefono.invalid && telefono.touched">Debe completarse el campo teléfono correctamente</small>
    </div>

    <!--Ciudad-->

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Ciudad*</label>
        <input type="text" 
               class="form-control" 
               id="inputCity" 
               placeholder="Ciudad"
               name="ciudad"
               ngModel
               [class.invalid]="ciudad.invalid && ciudad.touched"
               #ciudad="ngModel"
               required>
        <small class="form-text text-danger" *ngIf="ciudad.invalid && ciudad.touched">Debe completarse el campo ciudad correctamente</small>
      </div>

      <!--Localidad-->

      <div class="form-group col-md-4">
        <label for="inputState">Localidad*</label>
        <select id="inputState" 
                class="form-control"
                required
                [ngModel]=""
                [disabled]="localidades.length===0"
                #localidad="ngModel">
          <option *ngFor="let Localidad of localidades" [value]="Localidad.alpha3Code">{{localidad.name}}</option>
          
        </select>
      </div>

      <!--Código postal-->

      <div class="form-group col-md-2">
        <label for="inputZip">Código postal*</label>
        <input type="text" 
               class="form-control" 
               id="inputZip" 
               placeholder="Código postal"
               pattern="((0[1-9]|5[0-2])|[1-4][0-9])[0-9]{3}"
               name="codigo"
               ngModel
               [class.invalid]="codigo.invalid && codigo.touched"
               #codigo="ngModel"
               minlength="5"
               required
               >
        <small class="form-text text-danger" *ngIf="codigo.invalid && codigo.touched">El código postal no es válido</small>
      </div>

      <!--Tarjeta de crédito-->

      <div class="form-group col-md-6">
        <label for="inputZip">Tarjeta de credito</label>
        <input type="text" 
               class="form-control" 
               id="inputZip" 
               placeholder="XXXX-XXXX-XXXX-XXXX"
               pattern="/^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|3[47][0-9]{13}|6(?:011|5[0-9][0-9])[0-9]{12})$/"
               name="tarjeta"
               ngModel
               [class.invalid]="tarjeta.invalid && tarjeta.touched"
               #tarjeta="ngModel"
               minlength="16"
               required
               >
        <small class="form-text text-danger" *ngIf="tarjeta.invalid && tarjeta.touched">La tarjeta de credito no es válida</small>
      </div>
    </div>
    
    <!--Términos y condiciones-->

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" 
               type="checkbox" 
               name="condiciones"
               value="O"
               required
               ngModel 
               #condiciones="ngModel"/>
        <label class="form-check-label" for="gridCheck">
          Confirmar los términos y condiciones.
        </label>
        <small *ngIf="condiciones.invalid && condiciones.touched" class="form-text text-danger">Se deben aceptar los términos y condiciones</small>
      </div>
    </div>
    <input type="button" class="btn btn-outline-primary" name="enviar" value="Registrarse" [routerLink]="['/iniciarSesion']" />
</form>
