<div class="d-flex flex-column align-items-center row">
  <form id="crearUsuario" autocomplete="off" (ngSubmit)="registrarse()" [formGroup]="forma" class="p-md-3">
    <div class="row col-12">
      <!--Email-->
      <div class="form-group col-md-6 col-12">
          <label for="disabledTextInput">E-mail*</label>
          <input type="email" 
                class="form-control" 
                placeholder="E-mail"
                formControlName="correo"
                [class.is-invalid]="!valido('correo')">
          <small class="form-text text-danger" *ngIf="!valido('correo')">Debe estar rellenado y escrito correctamente</small>
      </div>
      <!--Nombre de usuario-->
      <div class="form-group col-md-6 col-12">
        <label for="inputAddress">Nombre de usuario*</label>
        <input class="form-control"
                type="text"
                placeholder="Nombre de usuario"
                formControlName="nombre_usuario"
                [class.is-invalid]="!valido('nombre_usuario')">
          <small class="form-text text-danger" *ngIf="!valido('nombre_usuario')">Debe tener al menos 5 carácteres</small>
      </div>
      <!--Contraseñas-->
      <div class="form-group col-md-6 col-12">
        <label for="disabledSelect">Contraseña*</label>
        <input type="password" 
                class="form-control" 
                placeholder="Contraseña"
                formControlName="pass"
                [class.is-invalid]="!valido('pass')">
        <small class="form-text text-danger" *ngIf="!valido('pass')">Debe tener más de 5 carácteres</small>
      </div>
      <div class="form-group col-md-6 col-12">
        <label for="disabledSelect">Repetir Contraseña*</label>
        <input type="password" 
              class="form-control" 
              placeholder="Contraseña"
              formControlName="pass2"
              [class.is-invalid]="!pass2Valido || !valido('pass2')">
        <!--<small class="form-text text-danger" *ngIf="!valido('pass2')">Debe estar rellenado y escrito correctamente</small>-->
        <small class="form-text text-danger" *ngIf="!pass2Valido">Las contraseñas deben ser iguales</small>
      </div>
    </div>
    <!--Nombre-->
    <div class="row col-12">
      <div class="form-group col-md-6 col-12">
        <label for="inputAddress">Nombre*</label>
        <input class="form-control"
              type="text"
              placeholder="Nombre"
              formControlName="nombre"
              [class.is-invalid]="!valido('nombre')">
          <small class="form-text text-danger" *ngIf="!valido('nombre')">Debe tener al menos 3 carácteres</small>
      </div>
      <!--Apellidos-->
      <div class="form-group col-md-6 col-12">
        <label for="inputAddress">Apellidos*</label>
        <input class="form-control"
              type="text"
              placeholder="Apellido"
              formControlName="apellidos"
              [class.is-invalid]="!valido('apellidos')">
          <small class="form-text text-danger" *ngIf="!valido('apellidos')">Debe tener al menos 5 carácteres</small>
      </div>
    </div>
    <!--Domicilio-->
    <div class="row col-12" formGroupName="vivienda">
      <div class="form-group col-md-6 col-12">
        <label for="inputAddress">Domicilio*</label>
        <input type="text" 
                class="form-control" 
                formControlName="domicilio"
                placeholder="Calle inventada, Nº XX"
                [class.is-invalid]="!valido('vivienda.domicilio')">
                <small class="form-text text-danger" *ngIf="!valido('vivienda.domicilio')">Debe rellenarese correctamente el campo</small>
      </div>
      <!--Localidad-->
      <div class="form-group col-md-6 col-12">
        <label for="inputCity">Localidad*</label>
        <input type="text" 
                class="form-control" 
                id="inputCity" 
                placeholder="Ciudad, municipio, pueblo..."
                formControlName="localidad"
                [class.is-invalid]="!valido('vivienda.localidad')">
        <small class="form-text text-danger" *ngIf="!valido('vivienda.localidad') && !valido('vivienda.localidad')">Debe completarse el campo ciudad correctamente</small>
      </div>
      <!--Provincia-->
      <div class="form-group col-md-6 col-12">
        <label for="inputState">Provincia*</label>
        <select id="inputState" 
                class="form-control"
                name="provincia"
                formControlName="provincia"
                [class.is-invalid]="!valido('vivienda.provincia')">
          <option *ngFor="let localidad of localidades.facet_groups[1].facets; let i = index" value="{{i}}" [disabled] = 'i==0'>{{localidad.name}}</option>
        </select>
        <small class="form-text text-danger" *ngIf="!valido('vivienda.provincia')">Debes seleccionar una localidad</small>
      </div>
      <!--Código postal-->
      <div class="form-group col-md-6 col-12">
        <label for="inputZip">Código postal*</label>
        <input type="text" 
                class="form-control"  
                placeholder="Código postal"
                formControlName="cod_postal"
                [class.is-invalid]="!valido('vivienda.cod_postal')">
        <small class="form-text text-danger" *ngIf="!valido('vivienda.cod_postal')">El código postal no es válido</small>
      </div>
      <!--Dirección 2º-->
      <div class="form-group col-md-6 col-12">
        <label for="inputAddress2">Dirección 2º (opcional)</label>
        <input type="text" 
                class="form-control" 
                id="inputAddress2" 
                placeholder="Calle inventada, Nº XX">
      </div>
      <!--Ciudad 2º-->
      <div class="form-group col-md-6 col-12">
        <label for="inputCity">Ciudad 2º (opcional)</label>
        <input type="text" 
                class="form-control" 
                id="inputCity" 
                placeholder="Ciudad, municipio, pueblo...">
      </div>
      <!--Localidad 2º-->
      <div class="form-group col-md-6 col-12">
        <label for="inputState">Localidad 2º (opcional)</label>
        <select id="inputState" 
                class="form-control"
                name="localidad2">
          <option *ngFor="let localidad2 of localidades.facet_groups[1].facets; let i = index" value="{{i}}" [disabled] = 'i==0'>{{localidad2.name}}</option>
        </select>
      </div>
      <!--Código postal 2º-->
      <div class="form-group col-md-6 col-12">
        <label for="inputZip">Código postal 2º (opcional)</label>
        <input type="text" 
                class="form-control"  
                placeholder="Código postal"
                formControlName="cod_postal2"
                [class.is-invalid]="!valido('vivienda.cod_postal2')">
        <small class="form-text text-danger" *ngIf="!valido('vivienda.cod_postal2')">El código postal no es válido</small>
      </div>
    </div>
    <div class="row col-12">
      <!--Teléfono-->
      <div class="form-group col-md-6 col-12">
        <label for="inputAddress2">Teléfono (opcional)</label>
        <input type="text" 
                class="form-control" 
                formControlName="telefono"
                placeholder="Teléfono"
                [class.is-invalid]="!valido('telefono')">
        <small class="form-text text-danger" *ngIf="!valido('telefono')">El teléfono no es válido</small>
      </div>
      <!--Tarjeta de crédito-->
      <div class="form-group col-md-6 col-12">
        <label for="inputZip">Tarjeta de crédito (opcional)</label>
        <input type="text" 
                class="form-control" 
                placeholder="Tarjeta de crédito"
                formControlName="tarjeta_credito"
                [class.is-invalid]="!valido('tarjeta_credito')">
        <small class="form-text text-danger" *ngIf="!valido('tarjeta_credito')">La tarjeta de credito no es válida</small>
      </div>
      <div class="form-group col-md-6 col-12">
        <label for="inputZip">CVV (opcional)</label>
        <input type="text" 
                class="form-control" 
                maxlength="3"
                placeholder="CVV"
                formControlName="cvv"
                [class.is-invalid]="!valido('cvv')">
        <small class="form-text text-danger" *ngIf="!valido('cvv')">CVV no es válido</small>
      </div>
      <div class="form-group col-md-6 col-12">
        <label for="inputZip">Fecha de caducidad (opcional)</label>
        <input type="text" 
                class="form-control" 
                placeholder="Fecha de caducidad (mm/YY)"
                formControlName="caducidad"
                [class.is-invalid]="!valido('caducidad')">
        <small class="form-text text-danger" *ngIf="!valido('caducidad')">La fecha de caducidad no es válida</small>
      </div>
    </div>
    <!--Términos y condiciones-->
    <div class="form-group ml-3">
      <div class="form-check">
        <input class="form-check-input" 
                name="aceptar"
                type="checkbox" 
                (click)="aceptarCondiciones()"/>
        <label class="form-check-label" for="gridCheck">
          Confirmar los términos y condiciones.
        </label>
      </div>
    </div>
    <input type="submit" class="btn btn-dark ml-3" name="enviar" value="Registrarse" [disabled]="!condicionesAceptadas"/>
  </form>
</div>
