<form id="modificarUsuario" autocomplete="off" (ngSubmit)="modificar()" (keyup.enter)="modificar()" [formGroup]="forma_modificar" *ngIf="usuario">
  <div class="m-3">
    <div class="row">
      <!--Email-->
      <div class="form-group col-md-6 col-12">
        <label for="disabledTextInput">E-mail</label>
        <input type="email" 
              class="form-control" 
              formControlName="correo"
              placeholder="E-mail"
              [class.is-invalid]="!valido('correo')">
        <small class="form-text text-danger" *ngIf="!valido('correo')">El e-mail no es válido</small>
      </div>
      <!--Nombre de usuario-->
      <div class="form-group col-md-6 col-12">
        <label for="inputAddress">Nombre de usuario</label>
        <input class="form-control"
                type="text"
                placeholder="Nombre de usuario"
                formControlName="nombre_usuario"
                [class.is-invalid]="!valido('nombre_usuario')">
          <small class="form-text text-danger" *ngIf="!valido('nombre_usuario')">Debe tener al menos 5 carácteres</small>
      </div>
      <!--Nombre-->
      <div class="form-group col-md-6 col-12">
        <label for="inputAddress">Nombre</label>
        <input class="form-control"
              type="text"
              placeholder="Nombre"
              formControlName="nombre"
              [class.is-invalid]="!valido('nombre')">
          <small class="form-text text-danger" *ngIf="!valido('nombre')">Debe tener al menos 3 carácteres</small>
      </div>
      <!--Apellidos-->
        <div class="form-group col-md-6 col-12">
          <label for="inputAddress">Apellidos</label>
          <input class="form-control"
                type="text"
                placeholder="Apellidos"
                formControlName="apellidos"
                [class.is-invalid]="!valido('apellidos')">
            <small class="form-text text-danger" *ngIf="!valido('apellidos')">Debe tener al menos 5 carácteres</small>
        </div>
        
      </div>
      <!--Vivienda-->
      <div class="row" formGroupName="vivienda">
        <!--Domicilio-->
        <div class="form-group col-md-6 col-12">
          <label for="inputAddress">Dirección</label>
          <input type="text"
                class="form-control"
                formControlName="direccion" 
                placeholder="Dirección">
        </div>
        <!--Localidad-->
        <div class="form-group col-md-6 col-12">
          <label for="inputCity">Localidad</label>
          <input type="text" 
                class="form-control" 
                id="inputCity" 
                formControlName="localidad"
                placeholder="Ciudad, municipio, pueblo...">
        </div>
        <!--Provincia-->
        <div class="form-group col-md-6 col-12">
          <label for="inputState">Provincia</label>
          <input type="text" 
                class="form-control" 
                formControlName="provincia"
                placeholder="Provincia">
        </div>
        <!--Código postal-->
        <div class="form-group col-md-6 col-12">
          <label for="inputZip">Código postal</label>
          <input type="text" 
                  class="form-control"  
                  placeholder="Código postal"
                  formControlName="cod_postal"
                  [class.is-invalid]="!valido('vivienda.cod_postal')">
          <small class="form-text text-danger" *ngIf="!valido('vivienda.cod_postal')">El código postal no es válido</small>
        </div>
        <!--Domicilio 2º-->
        <div class="form-group col-md-6 col-12">
          <label for="inputAddress2">Dirección 2º</label>
          <input type="text" 
                  class="form-control" 
                  id="inputAddress2" 
                  formControlName="direccion2"
                  placeholder="Dirección 2º">
        </div>
        <!--Localidad 2º-->
        <div class="form-group col-md-6 col-12">
          <label for="inputCity">Ciudad 2º</label>
          <input type="text" 
                  class="form-control" 
                  id="inputCity" 
                  formControlName="localidad_2"
                  placeholder="Ciudad, municipio, pueblo...">
        </div>
        <!--Provincia 2º-->
        <div class="form-group col-md-6 col-12">
          <label for="inputState">Localidad 2º</label>
          <input type="text" 
                class="form-control" 
                formControlName="provincia_2"
                placeholder="provincia 2º">
        </div>
        <!--Código postal 2º-->
        <div class="form-group col-md-6 col-12">
          <label for="inputZip">Código postal 2º</label>
          <input type="text" 
                  class="form-control"  
                  placeholder="Código postal"
                  formControlName="cod_postal2"
                  [class.is-invalid]="!valido('vivienda.cod_postal2')">
          <small class="form-text text-danger" *ngIf="!valido('vivienda.cod_postal2')">El código postal no es válido</small>
        </div>
      </div>
      <div class="row">
        <!--Teléfono-->
        <div class="form-group col-md-6 col-12">
          <label for="inputAddress2">Teléfono</label>
          <input type="text" 
                  class="form-control" 
                  formControlName="telefono"
                  placeholder="Teléfono"
                  [class.is-invalid]="!valido('telefono')">
          <small class="form-text text-danger" *ngIf="!valido('telefono')">El teléfono no es válido</small>
        </div>
        <!--Tarjeta de crédito-->
        <div class="form-group col-md-6 col-12">
          <label for="inputZip">Tarjeta de crédito</label>
          <input type="text" 
                  class="form-control" 
                  placeholder="Tarjeta de crédito"
                  formControlName="tarjeta_credito"
                  [class.is-invalid]="!valido('tarjeta_credito')">
          <small class="form-text text-danger" *ngIf="!valido('tarjeta_credito')">La tarjeta de credito no es válida</small>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-outline-light">Guardar cambios</button>
  </div>
</form>
