/* You can add global styles to this file, and also import other style files */

body,  #modificarDatos, .tabla_pedidos{
    background-color: #FFF2CC;
}
.tabla_pedidos{
    border: 0;
}
#navegacion, section, #quienes, footer, #mermeladasMostrar, #mermeladaInfo, #crearUsuario, #devolucion, #iniciarSesion, .perfil, #infoM{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#quienes, #crearUsuario, #iniciarSesion, #mermeladasMostrar, #devolucion{
    margin-top: 20px;
}
#infoM{
    font-size: large;
}
.dropdown-menu{
    padding: 0px 0px 0px 0px
}
.dropdown-item:hover{
    background-color: #5d6670;
    transition: background-color .5s;
}   
/*Tamaños*/
.img-pulgar {
    width: 35px;
    height: 35px;
}
.img-pulgar_x_2 {
    width: 80px;
    height: 80px;
}
.img-oferta{
    width: 170px;
    height: 80px;
}
/****/
/*OFERTA*/
.oferta{
    position: absolute;
}    
/****/
.perfil, #pedidosInfo, #productos_cartas{
    background-color: #FFD966; 
}
.modal-footer, .modal-header{
    background-color: #343A40;
}
.modal-title{
    color: white;
}
.cerrarModal{
    color: white;
}
.elementos_menu:hover{
    background-color: #5d6670;
    transition: background-color .5s;  
    border-radius: 15%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.carousel-inner{
    max-height: 435px; 
    overflow: hidden;
}
.imagenes_navbar:hover{
    background-color: #5d6670;
    transition: background-color .5s;  
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10%;
}
#productos_cesta, #tramitar_pedido{
    background-color: #ffd96654; 
    border-radius: 5%;
}
#tramitar_pedido{
    height: 220px; width: 25px;
}
#iniciarSesion{
    background-color: #ffd96654; 
    width: 350px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#crearUsuario{
    background-color: #ffd96654; 
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#devolucion{
    background-color: #ffd96654; 
    width: 650px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.perfil, #pedidos, #videoYT{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#tablaPedidos{
    width: 100%;
}

/*COOKIES*/
.cuadro_cookies{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: fixed;
    color: black;
    top: 120px;
    left: 30%;
    width: 40%;
    z-index: 100000;
    border: 6px #343A40 solid;
    text-align: justify;
}
.boton_aceptar{
    cursor: pointer;
}
.cookies{
    height: 100%;
    top: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.459);
    position: fixed;
}
/*Carrousel*/
@media (max-width: 992px) {
    .carousel-inner {
      max-height: 142px;
    }
}
@media (min-width:993px) and (max-width: 1024px) {
    .carousel-inner {
      max-height: 390px;
    }
}
/*CREAR USUARIO*/
@media (min-width:992px)  {
    #crearUsuario {
        width: 1024px;
    }
}
@media (max-width:375px) {
    #crearUsuario {
      width: 100%;
    }
}
/*TABLA PEDIDOS*/
@media (max-width: 720px) {
    .fch_entrega, .fch_envio {
        display: none; 
    }
}
/*CUADRO COOKIES*/
@media (max-width: 750px) {
    .cuadro_cookies{
        width: 80%; 
        left: 10%;
        right: 10%;
    }
}