/* You can add global styles to this file, and also import other style files */
body,  #modificarDatos{
    background-color: #FFF2CC;
}
#navegacion, section, #quienes, footer, #mermeladasMostrar, #mermeladaInfo, #crearUsuario, #iniciarSesion, #perfil{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#quienes, #crearUsuario, #iniciarSesion, #mermeladasMostrar{
    margin-top: 20px;
}
#infoM{
    font-size: large;
}
.dropdown-menu{
    padding: 0px 0px 0px 0px
}
.dropdown-item:hover{
    background-color: #5d6670;
}
.img-pulgar {
    width: 35px;
    height: 35px;
}
.img-pulgar_x_2 {
    width: 80px;
    height: 80px;
}
.perfil, .modal-header, .modal-footer{
    background-color: #FFD966;
}