<div class="d-flex flex-column align-items-center">
    <form id="iniciarSesion" autocomplete="off" (ngSubmit)="iniciar()" [formGroup]="forma" class="mb-4 mt-5 p-3">
        <div class="form-group">
            <label for="disabledTextInput">E-mail</label>
            <input type="email" 
                class="form-control" 
                placeholder="E-mail"
                formControlName="email"
                [class.invalid]="!valido('email')">
            <small class="form-text text-danger" *ngIf="!valido('email')">Debe estar rellenado y escrito correctamente</small>
        </div>
        <div class="form-group">
            <label for="disabledSelect">Contraseña</label>
            <input type="password" 
                class="form-control" 
                placeholder="Contraseña"
                formControlName="pass"
                [class.invalid]="!valido('pass')">
            <small class="form-text text-danger" *ngIf="!valido('pass')">Debe estar rellenado y escrito correctamente</small>
        </div>
        <div>
            <label>¿No tienes cuenta creada? pulsa <a [routerLink]="['/crearUsuario']">aquí</a></label><br/>
            <button class="btn btn-outline-primary">Iniciar sesión</button>
        </div>
    </form>
</div>